@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


h1{
  font-family: 'poppins', sans-serif;
  text-align: center;
}

li{
  font-family: 'poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  color: rgb(245, 140, 21);


} 

a{
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(231, 95, 95);
  font-weight: 600;
}

